<div class="profile">
    <h1>Name:{{name}}</h1>
    <ul>
        <li>Number:{{formatPhoneNumber phonenumber}}</li>
        <li>Address:{{makeBold address}}</li>
        <li>Email:{{formatEmail email}}</li>
        <li>Occupation:{{uppercaseWord occupation}}</li>
    </ul>
</div>