
<body>
    
    <div id="container">
        <h1>Update Employee Data</h1>     
       
        <form action="/update/{{_id}}" method="post">
           
        
            <span id="err" style="color:red;"></span>
            <br>
            <label for="firstName">Enter your first name here.</label>
            <br>
            <input type="text" name="firstName" id="firstNameEntry" value="{{firstName}}">
            <br>
            <label for="lastName">Enter your last name here.</label>
            <br>
            <input type="text" name="lastName" id="lastNameEntry" value="{{lastName}}">
            <br>
            <label for="department">Please pick a department.</label>
            <br>
            <select name="department" id="departmentEntry">
                <option value="IT">IT</option>
                <option value="Accounting">Accounting</option>
                <option value="HR">HR</option>
            </select>
            <br>
            <label for="startDate">Your start date is {{dateFormat startDate}}, Please reselect it or choose a new one.</label>
            <br>             
            <input type="date" name="startDate" id="startDateEntry" value="{{dateFormat startDate}}">
            <br>       
            <label for="jobTitle">Please enter your Job Title.</label>
            <br>
            <input type="text" name="jobTitle" id="jobTitleEntry" value="{{jobTitle}}">
            <br>
            <label for="salary">Please enter your salary.</label>
            <br>
            <input type="number" name="salary" id="salaryEntry" value="{{salary}}">
            <br>
            <button class="submitButton" type="submit">Submit the form</button>
        </form>

    </div>
    
</body>
</html>